@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-mindo-indigo: #4f46e5;
  --color-mindo-purple: #9333ea;
}

body {
  @apply bg-slate-50 text-slate-900;
  margin: 0;
  font-family: var(--font-sans);
}
